
.container {
    text-align: center;
    padding: 40px 0;
  
        background: linear-gradient(90deg, rgba(42, 80, 155, 1) 0%, rgba(173, 212, 165, 1) 50%, rgba(227, 225, 200, 1) 100%);
}

.title {
    font-size: 3rem;
    color: #333;
    
}